
<% @sentences.each do |sentence| %>
  <table>
    <tr><%= sentence.text.to_s %></tr>
    <tr><% sentence.morphological_analyses.each do |a| %>
      <tr>
        <td><%= a.surface %></td>
        <td><%= a.reading %></td>
        <td><%= a.pos %></td>
        <td><%= a.baseform %></td>
      </tr>
    <% end %>
    </tr>
  </table>
<% end %>
<%= form_for(:sentence) do |f| %>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>